jobs:
  include:
    - if: branch = master
      env: VERSION=6.0.0-SNAPSHOT
    - if: branch = 5.x-maintenance
      env: VERSION=5.1.0

services:
  - docker

script:
  # get the webapp.war
  mvn dependency:copy -Dartifact=org.fcrepo:fcrepo-webapp:$VERSION:war -DoutputDirectory=. -Dmdep.stripVersion=true
  # build docker image
  - ./build.sh ./fcrepo-webapp.war

deploy:
  skip_cleanup: true
  - provider: script
    script: ./push.sh $VERSION
    on:
      repo: fcrepo-exts/fcrepo-docker
      condition: ${TRAVIS_BRANCH} == *-maintenance
  - provider: script
    script: ./push.sh $VERSION latest
    on:
      repo: fcrepo-exts/fcrepo-docker
      branch: main
